.color-nav {
  background-color: #ffffff;
}
.project_view_color_nav {
  background-color: #d6e6f2;
}
.project_card {
  width: 19rem;
  height: 12.5rem;
}

.task_card {
  width: 17rem;
  height: auto;
  margin: 8px 0;
}
